@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .slide-in-left {
    @apply opacity-0 translate-x-10;
  }
  .slide-in-right {
    @apply opacity-0 -translate-x-10;
  }
  .slide-in {
    @apply opacity-100 translate-x-0;
  }
  .fade-in-up {
    @apply opacity-0 translate-y-10;
  }
  .fade-in {
    @apply opacity-100 translate-y-0;
  }
}

body {
  @apply font-sans line-height-6 text-gray-800 bg-gray-100;
}

.nav-link,
#menu-links a,
#menu-links button {
  font-family: "Helvetica", sans-serif;
  font-weight: bold;
}

nav {
  @apply flex justify-between items-center py-4 px-8 bg-white;
}

.logo img {
  @apply h-12;
}

nav ul {
  @apply flex space-x-6 list-none p-0 m-0;
}

nav li a {
  @apply text-gray-800 font-bold no-underline;
}

.say-hello a {
  @apply bg-red-500 text-white font-bold py-2 px-4 rounded;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-3xl font-bold;
}

h3 {
  @apply text-2xl font-bold;
}

p {
  @apply text-lg;
}

section {
  @apply py-16 px-8 text-center;
}

.intro,
.guide {
  @apply flex flex-col md:flex-row justify-around items-center gap-8;
}

.intro img,
.guide img {
  @apply max-w-md w-full h-auto;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}

.animate-slide-in-left {
  opacity: 1;
  transform: translateX(-100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-slide-in-right {
  opacity: 1;
  transform: translateX(100px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.animate-slide-in-left.is-visible,
.animate-slide-in-right.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.animate-slide-in {
  opacity: 0;
  transform: translateX(100px);
  transition: opacity 0.5s ease-out, transform 1s ease-out;
}

.animate-slide-in.is-visible {
  opacity: 1;
  transform: translateX(0);
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px;
  font-weight: bold;
}

.swiper-container {
  width: 100%;
  padding: 50px 0;
  position: relative;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-slide .card {
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow: hidden;
  width: 280px;
  height: auto; /* Menyelaraskan ukuran card */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Mengubah dari space-between ke flex-start */
}

.swiper-slide img {
  width: 100%;
  height: 400px; /* Menentukan tinggi tetap untuk gambar */
  object-fit: cover; /* Menjaga rasio aspek gambar */
}

.swiper-slide .card .content {
  padding: 15px;
  flex-grow: 1;
}

.swiper-slide .card .content h3 {
  font-size: 16px;
  margin: 10px 0;
  font-weight: bold;
}

.swiper-slide .card .content p {
  font-size: 14px;
  color: #666;
  margin: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: black;
  z-index: 999; /* Pastikan tombol navigasi berada di atas elemen lainnya */
}

.gradient-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 10;
}

.swiper-slide {
  display: flex;
  justify-content: center;
}

.swiper-container {
  position: relative;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 10;
}

.gradient-left {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.gradient-right {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.grid > div {
  flex: 1 0 280px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.grid img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.grid .p-4 {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

.download {
  @apply bg-white rounded-lg p-12;
}

.bg-gradient-radial {
  background: linear-gradient(-30deg, #7c1008, #000000);
}

.download {
  background: linear-gradient(-30deg, #7c1008, #000000);
}

.contact {
  background: linear-gradient(-30deg, #7c1008, #000000);
}

.download button {
  @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-3 px-6 rounded m-2;
}

.swiper-button-prev,
.swiper-button-next {
  @apply bg-gray-800 hover:bg-gray-600 text-white rounded-full p-3 shadow-md transition duration-300 ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-2xl;
}

.swiper-pagination {
  @apply bottom-4;
}

.swiper-pagination-bullet {
  @apply bg-gray-300 opacity-50 w-3 h-3 rounded-full;
}

.swiper-pagination-bullet-active {
  @apply bg-blue-500 scale-125;
}

.contact {
  @apply bg-white rounded-lg p-12;
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  .contact {
    flex-direction: row;
  }
}

.contact .max-w-5xl {
  width: 90%;
}

#intro,
#tentang-kami,
#download,
#documentation,
#contact {
  scroll-margin-top: 80px;
}

footer {
  @apply bg-gray-800 text-white p-4 text-center;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
  }
  nav ul {
    @apply flex-col items-center;
  }

  nav li {
    @apply mb-2;
  }
  .intro img,
  .tentang-kami img,
  .download img,
  .buku-pedoman img {
    width: 100%;
    height: auto;
  }

  .tentang-kami .bg-gray-200 {
    margin-top: 1rem;
    width: 60vw;
    height: 60vw;
  }

  #menu-links {
    position: absolute;
    top: 43%;
    width: 100%;
    background-color: white;
    z-index: 10;
    transform: translateY(-100%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  #mobile-nav {
    @apply relative; /* Tambahkan position relative pada navbar */
  }

  .tentang-kami img {
    width: 40vw;
  }

  .download div {
    margin-bottom: 1rem;
  }

  .contact {
    flex-direction: column;
  }

  .contact > div {
    width: 100%;
  }

  .map-responsive {
    height: 300px;
  }

  #buku-pedoman {
    display: flex;
    justify-content: center;
  }
  #buku-pedoman p {
    text-align: center;
  }
  #wrap-buku {
    left: 0;
    margin-left: -108px;
    padding: 30px;
  }
}

/* Animasi slide-in dari kanan */
.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: all 1s ease;
}

.slide-in-right.active {
  opacity: 1;
  transform: translateX(0);
}

/* Animasi slide-in dari kiri */
.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 1s ease;
}

.slide-in-left.active {
  opacity: 1;
  transform: translateX(0);
}
